Checks: >
  *,
  -altera-*,
  -llvmlibc-*,
  -android-*,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-identifier-length,
  -google-build-using-namespace,
  -google-runtime-int,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -modernize-use-trailing-return-type,
  -fuchsia-default-arguments-calls,
